
@{
    ViewData["Title"] = "Duzenle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@{
    ViewData["Title"] = "Kaydet";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Css{

    <link href="~/assets/libs/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/assets/libs/select2/select2.css" rel="stylesheet" />
}

@model BannerListeDto

<div class="layout-content">

    <div class="container-fluid flex-grow-1 container-p-y">

        <div class="card mb-4">
            <h6 class="card-header">Banner Ekle</h6>
            <div class="card-body">

                <form asp-action="Duzenle" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label class="form-label">Banner adı</label>
                        <span asp-validation-for="ad" class="text-danger"></span>
                        <input type="text" asp-for="ad" class="form-control" value="@Model.ad" required />
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Bağlanacak kategori</label>
                        <span asp-validation-for="@Model.Kategori.id" class="text-danger"></span>
                        <select name="KategoriId" class="select2-demo form-control" style="width: 100%" data-allow-clear="true">
                            @foreach (KategoriListeDTO item in ViewBag.TumKategoriler)
                            {


                                if (item.ust_kategori_id == 0)
                                {
                                    if (item.id == Model.id)
                                    {
                                        <option value="@item.id" selected>@item.kategori_adi</option>
                                    }
                                    else
                                    {
                                        <option value="@item.id">@item.kategori_adi</option>

                                    }
                                }
                                else
                                {
                                    if (item.id == Model.id)
                                    {
                                        <option value="@item.id" selected>@item.ust_kategori_adi / @item.kategori_adi</option>
                                    }
                                    else
                                    {
                                        <option value="@item.id">@item.ust_kategori_adi / @item.kategori_adi</option>
                                    }

                                }


                            }

                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Konum</label>
                        <span asp-validation-for="tip" class="text-danger"></span>
                        <select name="tip" class="select2-demo form-control" style="width: 100%" data-allow-clear="true">
                            @if (Model.tip == "üst")
                            {
                                <option value="üst" selected>üst</option>
                                <option value="orta">orta</option>
                                <option value="alt">alt</option>
                            }
                            @if (Model.tip == "orta")
                            {
                                <option value="orta" selected>orta</option>
                                <option value="üst">üst</option>
                                <option value="alt">alt</option>
                            }
                            @if (Model.tip == "alt")
                            {
                                <option value="alt" selected>alt</option>
                                <option value="orta">orta</option>
                                <option value="üst">üst</option>
                            }

                        </select>
                    </div>
                    <div class="form-group">

                        <input type="text" asp-for="resim" hidden />
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        <label class="form-label w-100">Resim</label>
                        <input type="file" name="resim">
                    </div>

                    <div class="form-group">
                        <label class="form-label">Resim</label>
                        <img src="~/img/Banner/@Model.resim" class="img-fluid img-radius wid-100" alt="">
                        <div class="clearfix"></div>
                    </div>

                    <button type="submit" class="btn btn-primary">Kaydet</button>
                    <a asp-action="Index" class="btn btn-info btn">İptal</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Js{

    <script src="~/assets/libs/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/assets/libs/select2/select2.js"></script>
    <script src="~/assets/js/pages/forms_selects.js"></script>
}


