
@{
    ViewData["Title"] = "Duzenle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Css{

    <link href="~/assets/libs/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/assets/libs/select2/select2.css" rel="stylesheet" />
}

@model KategoriListeDTO

<div class="layout-content">

    <div class="container-fluid flex-grow-1 container-p-y">

        <div class="card mb-4">
            <h6 class="card-header">Kategori Düzenle</h6>
            <div class="card-body">
                <form asp-action="Duzenle" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="form-label">Bağlanacak kategori</label>
                        <span asp-validation-for="id" class="text-danger"></span>
                        <select name="id" class="select2-demo form-control" style="width: 100%" data-allow-clear="true">
                            <option hidden value="-2">Seçiniz</option>
                            <option value="0">Anakategori</option>
                            @foreach (KategoriListeDTO item in ViewBag.TumKategoriler)
                            {


                                if (item.ust_kategori_id == 0)
                                {
                                    if (item.id == Model.id)
                                    {
                                        <option value="@item.id" selected>@item.kategori_adi</option>
                                    }
                                    else
                                    {
                                        <option value="@item.id">@item.kategori_adi</option>

                                    }
                                }
                                else
                                {
                                    if (item.id == Model.id)
                                    {
                                        <option value="@item.id" selected>@item.ust_kategori_adi / @item.kategori_adi</option>
                                    }
                                    else
                                    {
                                        <option value="@item.id">@item.ust_kategori_adi / @item.kategori_adi</option>
                                    }

                                }


                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Kategori adı</label>
                        <span asp-validation-for="kategori_adi" class="text-danger"></span>
                        <input type="text" asp-for="kategori_adi" class="form-control" id="kategori" />
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Seo Url</label>
                        <span asp-validation-for="seourl" class="text-danger"></span>
                        <input type="text" asp-for="seourl" class="form-control" id="seourl" />
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">

                        <input type="text" asp-for="resim" hidden />
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Resim</label>
                        @if (Model.resim == "default.png")
                        {
                            <img src="~/img/@Model.resim" class="img-fluid img-radius wid-80" alt="">
                        }
                        else
                        {
                            <img src="~/img/Kategori/@Model.resim" class="img-fluid img-radius wid-80" alt="">
                        }
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label class="form-label w-100">Resim Düzenle</label>
                        <input type="file" name="resim">

                    </div>
                    <div class="form-group">
                        <label class="form-check">

                            @if (Model.yayin_durumu == true)
                            {
                                <input type="checkbox" asp-for="yayin_durumu" class="form-check-input" checked />
                            }
                            else
                            {
                                <input type="checkbox" asp-for="yayin_durumu" class="form-check-input" />
                            }
                            <span class="form-check-label">Yayın durumu</span>
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary">Kaydet</button>
                    <a asp-action="Index"  class="btn btn-warning">Geri</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Js{


    <script src="~/assets/js/yardimci.js"></script>
    <script src="~/assets/libs/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/assets/libs/select2/select2.js"></script>
    <script src="~/assets/js/pages/forms_selects.js"></script>
}

<script>
    let baslik = document.querySelector("#kategori");
    let seoBaslik = document.querySelector("#seourl");

    baslik.addEventListener("keyup", SeoUrlGetir)
    function SeoUrlGetir(e) {
        seoBaslik.value = ToSeoUrl(e.target.value);
    }
</script>


